body {
  background: linear-gradient(to right, #f4f4f4, #f6f6f6, #f8f8f8); 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
nav {
	background: repeating-linear-gradient(135deg, #34495E, #006666, #329999); 
	padding: 25px;
}
nav a {
	font-weight: 700;
	position: relative;
	left: 75%;
	margin: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #EEE;
}
nav a:hover {
	color: #fff;
}
.logo {
	position: absolute;
	width: 10%;
    height: 27px;
    background-image: url('./img/icons-01.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#main {
	background: repeating-linear-gradient(45deg, #34495E, #006666, #329999); 

}
svg {
	position: absolute;
	bottom: 7%;
}
.banner {
	height: 500px;
}
.banner a{
	margin: 30px auto;
}
.banner h1 {
	padding: 100px;
	font-size: 40px;
	margin: 0;
	color: #fff;
}
.banner a {
	position: relative;
	left: 8%;
}
a.start {
	margin: 0 2px;
	font-weight: 600;
	border-radius: 4px;
	text-decoration: none;
	background-color: #eee;
	padding: 10px 20px;
	color: #34495E;
}
a.start:hover {
	background-color: #fff;
}
form {
	padding: 3px 0;
	border-radius: 2px;
	margin: 40px auto;
	background-color: #fff;
	width: 40%;
}
form h2 {
	font-weight: 200;
	text-align: center;
}
label {
	color: #222;
	margin: 32px;
}
input[type="text"], input[type="password"], input[type="email"], textarea, input[type="file"]  {
	display: block;
	margin: 20px auto;
	width: 80%;
	padding: 10px 10px 10px 20px;
	border: 2px solid #eee;
	border-radius: 2px;
	font-size: 16px;
	resize: vertical;
	color: #000;
	outline-color: #34495E; 
}
input[type="file"] {
	border: 0;
}
input[type="number"] {
	color: #000;
	outline-color: #34495E; 
	display: block;
	margin: 10px 35px;
	width: 44%;
	padding: 10px 10px 10px 20px;
	border: 2px solid #eee;
	border-radius: 2px;
	font-size: 14px;
}
select {
	color: #000;
	outline-color: #34495E; 
	display: block;
	margin: 10px 35px;
	width: 50%;
	padding: 10px 10px 10px 20px;
	border: 2px solid #eee;
	border-radius: 2px;
	font-size: 14px;
}
button[type="submit"] {
	background-color: #34495E;
	padding: 10px 20px;
	border: 0;
	border-radius: 3px;
	color: #eee;
	margin: 25px 26px; 

}
form p {
	margin-left: 26px;
}
form span {
	color: #34495E;
	text-decoration: underline;
}
.cart {
	background: #fff;
	width: 70%;
	margin: 30px auto;
	height: 500px;
	border: 1px solid #ccc;
}
.cart-icon {
	display: none;
}
button {
	cursor: pointer;
}

@media screen and (max-width: 640px) {
	.cart-icon {
		display: block;
		position: absolute;
		bottom: 95%;
		left: 90%;
	}
	svg {
		display: block;
		position: absolute;
		bottom: 7%;
	}
	.banner {
		height: 450px;
	}
	.banner h1 {
		padding:  80px 45px;
		font-size: 30px;
	}
	nav a {
		display: none;
	}
	nav svg {
		display: block;
		position: absolute;
		bottom: 90%;
	}
	.logo {
		position: absolute;
		bottom: 93%;
		left: 42%;
		width: 15%;
	    height: 30px;
	}
	form {
		padding: 3px 0;
		border-radius: 2px;
		margin: 40px auto;
		background-color: #fff;
		width: 85%;
	}
	form h2 {
		font-weight: 200;
		text-align: center;
	}
	label {
		color: #222;
		margin: 32px;
	}
	input[type="text"], input[type="password"], input[type="email"], textarea, input[type="number"]  {
		display: block;
		margin: 20px auto;
		width: 80%;
		padding: 5px 5px 5px 20px;
		border: 2px solid #eee;
		border-radius: 2px;
		font-size: 16px;
		resize: vertical;
		color: #fff;
		outline-color: #34495E; 
	}
	select {
		outline-color: #34495E; 
		display: block;
		margin: 10px 20px;
		width: 50%;
		padding: 10px 10px 10px 50px;
		border: 2px solid #eee;
		border-radius: 2px;
		font-size: 14px;
	}
	button[type="submit"] {
		background-color: #34495E;
		padding: 10px 20px;
		border: 0;
		border-radius: 3px;
		color: #eee;
		margin: 25px 26px; 

	}
	form p {
		margin-left: 26px;
	}
	form span {
		color: #34495E;
		text-decoration: underline;
	}	

}
@media screen and (min-width: 640px) and (max-width: 1023px) {
	form {
		width: 70%;
	}
	nav a {
	font-weight: 700;
	position: relative;
	left: 50%;
	margin: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #EEE;

}
.cart-icon {
	display: none;
}
}
@media screen and  (min-width: 1024px) {
	
	nav a {
	font-weight: 700;
	position: relative;
	left: 70%;
	margin: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #EEE;

}
.cart-icon {
	display: none;
}
}