<!DOCTYPE html>
<html>
<head>
	<title>Failed!</title>
	<link rel="stylesheet" type="text/css" href="verified.css">
</head>
<body>
	<style>
			.verified {
					padding: 50px;
					border-radius: 50%;
					border: 2px solid #ccc;
					position: absolute;
					left: 40%;
					top: 30%;
					text-align: center;
					color: teal;
				}
				.red {
					color: red;
				}
			</style>
	<div class = "verified red">
		<svg id="i-close" viewBox="0 0 32 32" width="70" height="70" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    	<path d="M2 30 L30 2 M30 30 L2 2" />
</svg>


</body>
</html>